// app global css in SCSS form
@font-face {
  font-family: customfont;
  src: url(./fontes/Contrail_One/ContrailOne-Regular.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(./fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden; /* Para evitar rolagem horizontal */
}

.header-menu {
  background-color: #2433bc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: #2433bc1a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 2rem;
}

.text-footer {
  font-size: 1rem;
  font-family: "montserrat";
  color: #f8059b;
  text-align: center;
}

.logo {
  max-width: 25rem;
  padding: 1rem;
}

.option a {
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 0;
  text-decoration: none;
  font-family: "customfont";
  margin-right: 1.2rem;
}

.option a:hover {
  color: #f8059b;
}

.imagem_tema {
  width: 100%;
  height: auto; /* Mantém a proporção original da imagem */
}

.text-overlay {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Cor do texto */
  font-size: 2rem; /* Tamanho da fonte do texto */
  font-weight: regular; /* Peso da fonte do texto */
  text-align: center; /* Alinhamento do texto */
  font-family: "montserrat";
}

.highlight {
  background-color: #f8059b;
  font-weight: bold;
}

.title {
  font-size: 2.5rem;
  font-family: "customfont";
  color: #2433bc;
  text-align: left;
  margin: 3rem;
}

.text {
  font-size: 1.5rem;
  font-family: "montserrat";
  color: #2433bc;
  text-align: left;
  margin: 3rem;
}

.separator-design {
  width: 70%;
  height: 0.1rem;
  background-color: #05f819;
}

.imagem_eduarda {
  max-width: 20rem;
  border-radius: 2rem;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
}

.medias {
  color: #2433bc;
  transition: all 0.5s;
  font-size: 1rem;
}

.medias:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #f8059b;
}

.sesion-medias {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.textName {
  color: #f8059b;
  font-family: "montserrat";
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 2%;
}

.option-dynamics {
  background-color: #f8059b;
  color: #fff;
  border-radius: 1rem;
  width: 25rem !important;
  height: 8rem !important;
  margin: 1rem 1rem 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-dynamics:hover {
  background-color: #6a2cb1;
}

.option-dynamics a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "customfont";
}

.expansion-item {
  display: flex;
  margin: 0 auto;
  font-family: "montserrat";
  color: #2433bc;
  font-size: 1.5rem;
  text-align: left;
  width: 60rem;
}

.q-item {
  width: 60rem;
}

.list-design {
  margin-left: 2rem;
}

.img-design {
  max-width: 30rem;
  height: auto;
  display: flex;
  margin: 0 auto;
}

.video-design {
  width: 30rem;
  min-height: 20rem;
  display: flex;
  margin: 0 auto;
}

.btn-design {
  background-color: #f8059b;
  color: #fff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .option-dynamics {
    background-color: #f8059b;
    color: #fff;
    border-radius: 1rem;
    width: 90% !important;
    height: 8rem !important;
    margin: 1rem 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .expansion-item {
    display: flex;
    margin: 0 auto;
    font-family: "montserrat";
    color: #2433bc;
    font-size: 1rem;
    text-align: left;
    width: 90%;
  }

  .q-item {
    width: 90%;
  }

  .img-design {
    max-width: 10rem;
    height: auto;
    display: flex;
    margin: 0 auto;
  }

  .video-design {
    max-width: 10rem;
    height: auto;
    display: flex;
    margin: 0 auto;
  }

  .q-item {
    width: 19rem;
  }

  .list-design {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .text-overlay {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */
    font-size: 1.3rem; /* Tamanho da fonte do texto */
    font-weight: regular; /* Peso da fonte do texto */
    text-align: center; /* Alinhamento do texto */
    font-family: "montserrat";
  }

  .menu-expansivo {
    background-color: #2433bc;
    padding: 2rem 2rem 1rem 1rem;
  }

  .icon-menu {
    color: #fff;
    padding: 1rem 0;
    text-decoration: none;
    font-family: "customfont";
    margin-right: 1.2rem;
    margin-left: 1.2rem;
  }

  .logo {
    max-width: 15rem;
    padding: 1rem;
  }

  .title {
    font-size: 1.5rem;
    font-family: "customfont";
    color: #2433bc;
    text-align: left;
    margin: 1rem !important;
  }

  .text {
    font-size: 1rem;
  }

  .separator-design {
    width: 100%;
  }

  .imagem_eduarda {
    max-width: 10rem;
  }

  .medias {
    font-size: 1rem;
  }

  .textName {
    font-size: 1rem;
  }

  .footer-mobile {
    background-color: #2433bc1a;
  }

  .text-footer {
    font-size: 0.7rem;
    font-family: "montserrat";
    color: #f8059b;
    text-align: center;
    margin-top: 0.5rem;
  }
}
